body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: DrescherGrotesque, Verdana;
    height: 100%;
    position: relative;
    min-height: 100vh;
    background-image: url("./images/bg/contactus.png");
    background-repeat: no-repeat;
    background-size: cover;
}


/*global*/

.container {
    overflow: hidden;
    display: block;
    position: relative;
}


/*contact us title*/

.contact {
    margin-top: 75px;
}

.contact h1 {
    font-family: DrescherGrotesque, Verdana;
    font-size: 30px;
    color: #E74265;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}

#text {
    margin: 30px 20px 0 20px;
    text-align: center;
    font-family: DrescherGrotesque, Verdana;
    font-weight: bold;
    color: #f5f7fa;
}

#subtext {
    margin: 0 20px 0 20px;
    text-align: center;
    font-family: DrescherGrotesque, Verdana;
    font-weight: bold;
    font-size: 15px;
    color: #E74265;
}

#subtext a {
    color: #E74265;
    text-decoration: none;
}

#subp {
    font-family: DrescherGrotesque, Verdana;
    font-size: 12px;
    color: #f5f7fa;
}

.box,
.label p {
    margin: 10px 200px;
}

.label p {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #E74265;
}

@media screen and (max-width: 900px) {
    .box,
    .label p {
        margin: 10px 80px;
    }
}

.box input[type="email"],
.box input[type="text"] {
    width: 100%;
    padding-left: 12px;
    height: 45px;
    border: 1px solid #f5f7fa;
    background-color: #f5f7fa;
    border-radius: 4px;
    font-family: DrescherGrotesque, Verdana;
    outline: none;
}

#message {
    width: 100%;
    height: 130px;
    padding: 12px;
    border: 1px solid #f5f7fa;
    border-radius: 4px;
    resize: none;
    background-color: #f5f7fa;
    font-family: "Karla", sans-serif;
    outline: none;
}

#submit {
    background-color: transparent;
    border: 3px solid #E74265;
    border-radius: 7px;
    color: #E74265;
    padding: 5px 8px;
    font-size: 15px;
    cursor: pointer;
    font-weight: normal;
    font-family: "Oswald", sans-serif;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.5);
    margin-bottom: 2.5em;
    outline: none;
}

#submit:hover {
    background-color: #E74265;
    box-shadow: 3px 6px 12px #E74265;
    transition-duration: 0.25s;
    color: white;
    border: 3px solid transparent;
    padding: 5px 8px;
    outline: none;
}

 ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #646464;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #FF0068;
}